[req]
default_bits       = 2048
prompt             = no
default_md         = sha256
req_extensions     = req_ext
distinguished_name = dn

[dn]
CN = basuyandsell.com

[req_ext]
subjectAltName = @alt_names

[alt_names]
DNS.1 = basuyandsell.com
DNS.2 = www.basuyandsell.com
DNS.3 = admin.basuyandsell.com
DNS.4 = app.basuyandsell.com
DNS.5 = localhost

[ext]
subjectAltName = @alt_names
